# Auto-detect text files and perform LF normalization
* text=auto

# Python
*.py text diff=python
*.pyc binary
__pycache__/ binary

# Web
*.js text
*.css text
*.html text
*.json text

# Database
*.db binary
*.sqlite binary

# Binary Assets
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Deployment
Procfile text
requirements.txt text

# Windows
*.bat text eol=crlf
